*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Contact */
.contact {
  padding-bottom: 140px;
  background-color: #014E56;;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-container-left-heading{
  color: #FFF;
  font-family: "Bold";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 16px;
}
.conatct-container-left-title{
  color: #F67E7E;
  font-family:"Bold";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 32px;
}

.contact-container-bottom {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.contact-container-bottom:last-child{
  margin-bottom: 0;
}
.contact-container-right-content-title{
  color: #FFF;
  font-family: "Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-left: 23px;
}
.contact-container-left{
  width: 50%;
}
.contact-container-right{
  width: 50%;
}


/* Registratsion - form */
.registration-form {
  width: 100%;
  max-width: 570px;
  margin-left:12px;
  padding: 55px 60px 40px;
  border-radius: 20px;
  overflow: hidden;


}
.signup-form-heading {
  margin-top: 0;
  margin-bottom: 65px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;


}
.sign-form-fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  background-color: #014E56;
  width: 100%;

}
.signup-form-field {
  padding-top: 15px;
  padding-bottom: 14px;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #555;
  background-color: #014E56;

}
.signup-form-field:not(:last-child){
  margin-bottom: 20px;
}
.signup-form-field:focus{
  border-color: #000;
  font-weight: 600;
  color: #000;
}

.signup-form-field:hover{
  border-bottom: 2px solid #F67E7E;
  cursor: pointer;
}

input::placeholder{
  color: #99B8BBFF;
  font-family: "Semi-bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.115px;
}
.sign-form-fields-button{
  padding: 10px 32px;
  color: #004047;
  font-family: "Semi-bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  background-color: #FFF;
  border-radius: 24px;
  border: 2px solid #FFF;
  text-decoration: none;
}




@media only screen  and (max-width:890px) {
  .contact-container{
    width: 100%;
    text-align: center;
    display: flex;
  }
  .contact-container-left{
    width: 100%;
    justify-content: center;
  }
  .contact-container-right{
    width: 100%;
  }
  .sign-form-fields{
    width: 100%;
  }
  .signup-form-field{
    width: 100%;
  }
  .contact-container-bottom{
    justify-content: center;
  }
  .registration-form{
    justify-content: center;
    margin: auto;
  }
  .contact{
    padding-bottom: 10px;
  }
}
@media only screen and (max-width:400px) {
   .contact-container-left-heading{
    font-size: 48px;
    line-height: 40px;
   }
}