@font-face {
  font-family: "Bold";
  src: url(./font/Livvic-Bold.ttf);
}
@font-face {
  font-family: "Medium";
  src: url(./font/Livvic-Medium.ttf);
}
@font-face {
  font-family:"Semi-bold" ;
  src: url(./font/Livvic-SemiBold.ttf);
}
@font-face {
  font-family: "Regular";
  src: url(./font/Livvic-Regular.ttf);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  max-width: 1200px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

ul{
  list-style: none;

  align-items: center;
}

/* Header */
.site-header{
  display: flex;
  align-items: center;
  background-color: #014E56;
  padding-top: 77px;
}
.site-header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 130px;
}
.site-navigation{
  display: flex;
  align-items: center;
}
.sitenav-list{
  display: flex;
}
.site-link{
  display: flex;
}
.site-nav{
  margin-left: 80px;
}
.sitenav-item{
  margin-left: 40px;
}
.site-header-icon{
  display: none;
}
.sitenav-link{
  color: #FFF;
  font-family: "Semi-bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  font-weight: 600;
}

.site-btn{
  padding: 10px 32px;
  color: #fff;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 32px;

}

/* Hero */

.hero{
  background-color: #014E56;
  padding-bottom: 250px;
  width: 100%;

}

.hero-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.hero-left{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

.hero-left h1{
  color: #FFF;
  font-family: "Bold";
  font-size: 99px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
}
.hero-title{
  color:rgba(246, 126, 126, 1)
}

.hero-right{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
}
.hero-orange{
  width: 50px;
  height: 4px;
  background-color: #fff;
  border: none;
  margin-bottom: 40px;
}
.hero-right-title{
  color: #FFF;
  font-family: "Semi-bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}


/* Manage */

.manage {
  background-color: #012F34;
  padding-top: 140px;
  padding-bottom: 140px;
}
.manage-orange {
  background-color: #F67E7E;;
}

.manage-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.manage-content {
  width: 50%;
}
.manage-content-heading {
  color: #FFF;
  font-family: "Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.manage-servise {
  width: 50%;
}
.manage-servise-main {
  display: flex;
  align-items: center;

  margin-bottom: 54px;
  width: 100%;
}
.manage-servise img {
  width: 100%;
}
.manage-servise-main-content {
  margin-left: 23px;
  width: 90%;
}

.manage-servise-main:last-child{
  margin-top:0;
}

.manage-servise-main-content h3{
  color: #F67E7E;
  font-family: "Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 15px;
}

.manage-servise-main-content p{
  color: #FFF;
  font-family: "Semi-bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

/* Stories */

.stories {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #004047;;

}
.stories-heading {
  color: #FFF;
  text-align: center;
  font-family: "Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-bottom: 92px;
}
.stories-text {
  color:rgba(121, 200, 199, 1);
}



.stories-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.stories-card {
  text-align: center;
  width: 30%;
}
.stories-card-text {
  color: #FFF;
  text-align: center;
  font-family: "Semi-bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 24px;
}
.stories-card-heading {
  margin-top: 0;
  color: #79C8C7;
  text-align: center;
  font-family: "Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.stories-card span{
  color: #FFF;
  text-align: center;
  font-family:"Regular";
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;

}
.stories-card-img {
  margin-top: 24px;
}


.cta {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: #F67E7E;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cta-heading{
  color: #012F34;
  font-family: "Bold";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
.cta-btn {
  padding: 10px 32px;
  color: #012F34;
  font-family: "Semi-bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  border-radius: 24px;
  border: 2px solid #012F34;
}

.site-footer{
  padding-top: 48px;
  padding-bottom:48px;
  background-color: #002529;
}
.site-footer-link ul{
  display: flex;
  align-items:center;
}
.site-footer-img{
  margin-bottom: 20px;
}
.site-footer-link ul li a{
  text-decoration: none;
  color: #FFF;
  font-family:"Semi-bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.site-footer-link ul li:last-child{
  margin-left: 40px;
}
.site-footer-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.site-footer-lang ul li {
  color: #99A8A9FF;
  font-family: "Semi-bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}
.site-footer-icon-list{
  display: flex;
}

.site-footer-icon-link{
  color: #fff;
  font-size: 24px;
}
.site-footer-icon-list{
  margin-left: 100px;
  margin-bottom: 50px;
}
.site-footer-icon-list li {
  margin-left: 20px;
}

.site-footer-icon-link:last-child{
  margin-left: 0px;
}

.site-footer-copy{
  color:#99A8A9FF ;
  text-align: right;
  font-family: "Semi-bold";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  text-decoration: none;
}


/* Media */



@media only screen and (max-width:890px) {

  .site-header{
    padding-bottom:120px;
  }
  .hero-left{
    width: 100%;
    margin-bottom: 24px;
    justify-content: center;
    text-align: center;
  }
  .hero-right{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .hero-orange{
    display: none;
  }
  .hero-left h1 {
    font-size: 64px;
    line-height: 56px
  }

  .hero-right-title{
    font-size: 15px;
    line-height: 28px;
  }
 .hero{
  padding-bottom: 10px;
 }

 .manage{
  padding-top: 30px;
  padding-bottom: 20px;
 }
  .manage-content{
    width: 100%;
    margin-bottom: 64px;
  }
  .manage-content-heading{
    font-size: 32px;
    line-height: 32px;
  }
  .manage-orange{
    display: block;
  }
  .manage-servise{
    width: 100%;
  }
  .stories{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .stories-heading{
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 50px;
  }
  .stories-card{
    width: 100%;
    margin-bottom: 60px;
  }
  .stories-card:last-child{
    margin-bottom: 0;
  }
  .cta-heading{
    font-size: 32px;
    line-height: 32px;
  }
}

@media only screen and (max-width:700px) {
  .site-footer-container{
    justify-content: center;
    flex-wrap: wrap;
  }
  .site-footer-link{
    width: 100%;
    margin-bottom: 20px;
  }
  .site-footer-lang{
    width: 100%;
    margin-bottom: 20px;
  }
  .site-footer-icon{
    width: 100%;
    position: relative;
    right: 120px;
  }
  .site-footer-copy{
    position: relative;
    left: 120px;
  }
  .site-footer-icon-list{
    margin-bottom: 20px;
  }
  .site-footer-container{
    padding-left: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .site-nav{
    display: none;
  }
  .site-btn{
    display: none;
  }
  .site-header-icon{
    display: block;
    font-size: 27px;
    color: #FFF;
  }
  .hero-left h1 {
    font-size: 70px;
    line-height: 60px;
  }
  .hero-right-title{
    font-size: 15px;
  }
  .site-header{
    padding-bottom: 60px;
  }

  .cta-heading{
    width: 100%;
    margin-bottom: 35px;
  }
  .cta-container{
    text-align: center;
    justify-content: center;
  }
}



@media only screen and (max-width:400px){
  .hero-left h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .manage-servise-main {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: relative;
    left: -10px;
  }
  .site-header-container{
    padding-bottom: 80px;
  }

}